<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style = "background: #A4F2EA; color: #E3655B; ">
    <h3>Hi <%= @user.full_name %>, </h3>

    <p>Thank you for placing an order at Droply on <%=  @order.date %>. Your life saving supplies <%= @order.items.pluck(:title).to_sentence %> will be delivered to <%= @order.user.shipping_address %>.</p>

    <p>The total cost of your order was $<%= @order.order_total_cost.round(2) %> </p>

    <p>You can review this order at anytime <%= link_to("Your Order", order_path(@order)) %></p>


    <p>Thanks for your support,</p>
    <h4><strong>The Droply Team</strong></h4>
      <img src="https://droply.herokuapp.com/assets/droply-icon-90769066a0dfcacd19c9a5e5be35291c.png" width="50px">
  </body>
  <footer style="background: #EDBC7B; color: #333;, margin: 10px;">
    <em>Want to become a registered Droply supplier? <%= link_to("Apply Now!", "https://droply.herokuapp.com/businesses/new", style: "color: #E3655B") %></em>

    <h4>Contact Us</h4>

    <p><%= mail_to "droply.supplies@gmail.com", "contact@drop.ly",  style: "color: #E3655B" %></p>
    <p>1-555-droply</p>
    <p>1510 Blake St, Denver, CO</p>
  </footer>
</html>