<div class="container">
  <div id="form">
    <%= form_for([:admin, @item], html: { multipart: true, class: "form-group" }) do |f| %>
      <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this phone_number from being saved:</h2>
          <ul>
            <% @item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label "Supply Name" %><br>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :Details %><br>
        <%= f.text_field :description, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Cost"%><em>(*in dollars)</em><br>
        <%= f.number_field :price_in_dollars, in: 1.00..10000.00, step: 0.01, class: "form-control" %>
      </div>
      <div class="form-group">
        <p>
          <%= f.label :image, "Attach an Image" %><br />
          <%= f.file_field :image %>
        </p>
      </div>
      <div class="form-group">
        <%= f.collection_select(:item_status_id, ItemStatus.all, :id, :state) %>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="input-group">
            <span class="input-group-addon">
              <h4>Available Categories</h4>
              <% category_all.each do |category| %>
              <div class="row form-control">
                <%= check_box_tag 'category_ids[]', category.id, @item.categories.include?(category)%>
                <%= category.name %>
                </div>
              <% end %>
            </span>
          </div>
        </div>
      </div>

      <div class="actions form-group text-center">
        <%= f.submit class: "btn btn-supply" %>
      </div>
    <% end %>
  </div>
</div>