<div class ="container-fluid">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">region</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">disaster type</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">vendor</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">item-filter</button>
      </div>
       <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </div>     
  </div>
<br>

<div class= "container-fluid"></div>
  <div class = 'row'>
    <% @items.first(3).each do |item| %>
      <div class="box col-md-4">
        <% if current_user.nil? || !current_user.admin?%>
          <% @item_show = item_path(item)  %>
        <% else %>
          <% @item_show = admin_item_path(item) %>
        <% end %>
        <%= link_to image_tag('big_supply.png'), @item_show, class: "img-responsive"%>

      </div>
    <% end %>  </div>
</div>

<br>
<br>

<div class="row">
  <% @items.each do |item| %>
    <div class="box col-sm-3">
      <% if current_user.nil? || !current_user.admin?%>
        <% @item_show = item_path(item)  %>
      <% else %>
        <% @item_show = admin_item_path(item) %>
      <% end %>
      <%= link_to image_tag(item.image, size: "200"), @item_show %>
      <figcaption><%= link_to item.title, @item_show %></figcaption>
      <% if current_user.nil? || !current_user.admin?%>
        <div id=<%= "net-button-#{item.id}" %>>
          <%= button_to "Add to net", cart_items_path(item_id: item), class: "btn btn-success" %>
        </div>
      <% else %>
        <div>
          <%= link_to "Edit", edit_admin_item_path(item), class: "btn btn-success", id: "btn-edit" %>
          <%= link_to "Delete", admin_item_path(item), class:"btn btn-danger", id: "btn-delete", method: :delete %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% unless current_user.nil? || !current_user.admin?%>
    <%= link_to "Create Item", new_admin_item_path, class: "btn btn-success", id: "create-button" %>
  <% end %>
</div>
