<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
  <h4 class="modal-title">Sign in</h4>
</div>

<div class="modal-body">
  <%= form_for :session, remote: true, url: '/login' do |f| %>
    <div class="form-group">
      <%= f.label "email" %>
      <%= f.text_field :email, class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= f.label "password" %>
      <%= f.password_field :password, class: "form-control", required: true %>
    </div>
</div>

<div class="modal-footer">
    <div class="form-group">
      <%= f.submit "Sign in", class: "btn btn-default" %>
    </div>
  <% end %>

  <div class="pull-right">
    <%= button_to "Sign in with Twitter", "/auth/twitter", class: "btn btn-info" %>
  </div>
</div>
