<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
  <h4 class="modal-title" id="myModalLabel">Sign up</h4>
</div>

<div class="modal-body">
  <%= form_for(User.new) do |f| %>
    <div class="form-group">
      <%= f.label  "name" %>
      <%= f.text_field :full_name, placeholder: "name", class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= f.label "display name" %> *
      <%= f.text_field :display_name, placeholder: "display name", class: "form-control"  %>
    </div>
    <div class="form-group">
      <%=f.label "Email address" %>
      <%= f.text_field :email, placeholder: "email", class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= f.label "Password" %>
      <%= f.password_field :password, placeholder: "password", class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= f.label "Location" %> *
      <%= f.text_field :location, placeholder: "city & state", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Profile Image Url" %> *
      <%= f.text_field :image, placeholder: "image url", class: "form-control" %>
    </div>
</div>

<div class="modal-footer">
    <div class="form-group">
      <%= f.submit "Sign up", class: "btn btn-default" %>
    </div>
  <% end %>
  <div class="pull-right">
    <%= button_to "Sign up with Twitter", "/auth/twitter", class: "btn btn-primary" %>
  </div>
</div>
