<h1> Admin Orders Dashboard</h1>

<% @statuses.each do |status| %>
  <%= link_to status.state, admin_orders_path(status_id: status.id) %>
  <%= status.orders.count %>
<% end %>
<%= link_to "All Orders", admin_orders_path %>

<table border ="1">
  <tr>
    <th>Order ID &nbsp; &nbsp; &nbsp;</th>
    <th>User name &nbsp; &nbsp; &nbsp;</th>
    <th>Status </th>
    <th>Cost &nbsp; &nbsp; &nbsp;</th>
    <th> &nbsp; &nbsp; &nbsp;</th>

  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %>
      <td><%= order.user_full_name %>
      <td><%= order.order_status %></td>
      <td><%= number_to_currency(order.order_total_cost) %> </td>
      <td><%=link_to "Details", admin_order_path(order), class: "btn btn-success" %>

      <% if order.order_status == "Paid" %>
        <%= link_to "Completed", admin_order_path(order), method: :patch, class: "btn btn-success" %>
        <%= link_to "Cancel", admin_order_path(order), method: :patch, class: "btn btn-danger" %>
      <% elsif order.order_status == "Ordered" %>
        <%= link_to "Paid", admin_order_path(order), method: :patch, class: "btn btn-success" %>
        <%= link_to "Cancel", admin_order_path(order), method: :patch, class: "btn btn-danger" %>
       <% else %>
      <p></p>
      <% end %>

    <% end %>
  </table>
