<h2>  Details for Order ID: <%=@order.id %>  </h2>

<ul>
  <li> Date ordered: <%= @order.date %></li>
  <li> Time ordered: <%= @order.time %> </li>
  <li> Purchaser name: <%= @order.user.full_name %> </li>
  <li> Email: <%= @order.user.email %> </li>
</ul>

<table border ="1">
  <p> Items Purchased </p>
  <tr>
    <th>Item name &nbsp; &nbsp; &nbsp;</th>
    <th>Quantity &nbsp; &nbsp; &nbsp;</th>
    <th> Price </th>
    <th> Subtotal &nbsp; &nbsp; &nbsp;</th>
  </tr>
</table>

<p> Total cost for the order: </p>
<p> Status of the order: </p>

<%= link_to "orders", admin_orders_path %>