<div id="form">
  <%= form_for([:business, @item], url: business_items_path, html: { multipart: true, class: "form-group" }) do |f| %>

    <% if @item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@item.errors.count, "error") %></h2>
        <ul>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :Item %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :Details %><br>
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :Cost %><br>
      <%= f.number_field :price_in_dollars, in: 1.00..10000.00, step: 0.01 %>
    </div>
    <div class="field">
      <p>
      <%= f.label :image, "Attach an Image" %><br />
      <%= f.file_field :image %>
      </p>
    </div>
    <div>
      <%= f.collection_select(:item_status_id, ItemStatus.all, :id, :state) %>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon">
            <% category_all.each do |category| %>
              <%= check_box_tag 'category_ids[]', category.id, @item.categories.include?(category)%>
              <%= category.name %>
            <% end %>
          </span>
          <input type="text" class="form-control" aria-label="...">
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit class: "btn btn-success" %>
    </div>
  <% end %>
</div>
