<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Details for Order ID: <%=@order.id %></h2>
    </div>
    <div class="col-md-6">
      <h2>Order Status: <span class="team"><%=@order.order_status %></span></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <ul>
        <li>Name: <%= @order.user.full_name %></li>
        <li>Email: <%= @order.user.email %></li>
        <li>Date ordered: <%= @order.date %></li>
        <li>Time ordered: <%= @order.time %></li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li>Shipping Information: <%= @order.user.shipping_address %></li>
        <li>Billing Information: <%= @order.user.billing_address %></li>
        <li>Credit Card: <strong><%="XXXXXXXXXXXX" + @order.user.credit_card.slice(-4..-1) if @order.user.credit_card %></strong></li>
      </ul>
    </div>
  </div>

  <table border ="1" class="table">
    <tr>
      <th>Items Purchased</th>
      <th class="small-column">Business</th>
      <th class="small-column">Quantity</th>
      <th class="money">Price</th>
      <th class="money">Subtotal</th>
    </tr>
    <% @order.order_items.each do |order_item| %>
      <td><%= link_to order_item.item.title, item_path(order_item.item_id)%></td>
      <td class="small-column"><%= link_to order_item.item.business.name, show_business_path(order_item.item.business.slug)%></td>
      <td class="small-column"><%= order_item.quantity %></td>
      <td class="money"><%= number_to_currency(order_item.item.price_in_dollars) %></td>
      <td class="money"><%= number_to_currency(order_item.item_subtotal) %></td>
    </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <th class="money">Total:</th>
      <th class="money"><%= number_to_currency(@order.order_total_cost)%></th>
    </tr>
  </table>
</div>


