<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <h1 class="text-center"><%= @business.name %></h1>
        <p class="text-center"><%= @business.description %></P>
      </div>
    </div>
  </div>

  <div class="row">
    <% @items.each do |item| %>
      <div class="col-sm-3 text-center item">
        <%= div_for(item, class: "divider") do %>

          <% if current_user.nil? || !current_user.admin?%>
            <% @item_show = item_path(item)  %>
          <% else %>
            <% @item_show = admin_item_path(item) %>
          <% end %>

          <h4><%= link_to item.title, @item_show %></h4>
          <%= link_to image_tag(item.image, size: "200"), @item_show %>
          <div class="row">
            <p class = "spacer col-md-12"><em><%=item.description %></em></p>
            <h4 class="text center"> $<%= item.price_in_dollars %> </h4>
          </div>
          <div id='<%= "cart-button-#{item.id}" %>'>
            <%= button_to "Add to cart", cart_items_path(item_id: item), class: "btn btn-supply" %>
          </div>
          <div>
            <%= link_to "Edit", edit_item_path(@business.slug, item), class: "btn btn-success", id: "btn-edit" %>
            <%= link_to "Delete", item_path(item), class:"btn btn-danger", id: "btn-delete", method: :delete %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= link_to "Create Item", new_item_path(@business.slug), class: "btn btn-primary", id: "create-button" %>
  </div>
</div>
