<div class="container" id="cart-show">
  <h3>Currently in your cart</h3>
  <table class="table">
    <tr>
      <td>Item</td>
      <td></td>
      <td class="text-center">Quantity</td>
      <td class="text-center">Cost</td>
    </tr>
    <% cart.data.each do |item_id, cart_quantity| %>
      <tr>
        <td><%= cart.find_item(item_id) %></td>
        <td>
          <div class="pull-left">
            <%= button_to "-", cart_items_path(item_id: item_id, subtract: true), class: "btn btn-tour" %>
          </div>
          <div>
            <%= button_to "+", cart_items_path(item_id: item_id), class: "btn btn-supply" %>
          </div>
        </td>
        <td class="text-center" id="quantity"><%= cart_quantity %></td>
        <td class="text-center" id="subtotal">$<%= cart.subtotal(item_id) %></td>
        <td><%= link_to "Remove all", cart_item_path(item_id), method: :delete, class: "btn btn-info", id: "release"%></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td class="text-center"><strong>Total</strong></td>
      <td class="text-center">$<%= cart.total %><tour/td>
      <td><%= button_to "Checkout", orders_path, class: "btn btn-supply" %></td>
    </tr>
  </table>
</div>
