<h1>Currently caught in your net</h1>
<table>
  <tr>
    <td>Item</td>
    <td>Quantity</td>
    <td>Cost</td>
  </tr>
  <% cart.data.each do |item_id, cart_quantity| %>
  <tr>
    <td><%= cart.find_item(item_id) %></td> 
    <td><%= cart_quantity %></td>
    <td>$<%= cart.subtotal(item_id) %></td>
  </tr>
  <% end %>
  <tr>
    <td></td>
    <td>Total:</td>
    <td>$<%= cart.total %></td>
  </tr>
</table>
<%= link_to("Back", items_path) %>