<%= render "partials/category_nav_bar" %>
<div>
  <div class= "container-fluid disaster-background image-responsive">
    <h1 class= "values" > Droply Supplies</h1>
  </div>

  <div class= "container-fluid">
    <div class = 'row well'>
      <h1 class="team text-center">Featured Supplies</h1>
      <% @items.first(3).each do |item| %>
        <div class="col-md-4 text-center">
          <h3 class="values"><%= item.title %></h3>
          <% @item_show = item_path(item)  %>
          <%= link_to image_tag('big_supply.png'), @item_show, class: "img-responsive"%>
          <p><%= item.description %></p>
        </div>
      <% end %>
    </div>

    <div class="row">
      <% @items.each do |item| %>
        <div class="col-sm-3 text-center item">

          <%= div_for(item, class: "divider") do %>
            <% @item_show = item_path(item) %>

            <h4><%= link_to item.title, @item_show %></h4>
            <%= link_to image_tag(item.image, size: "200"), @item_show %>
            <div class="row">
              <p class = "spacer col-md-12"><em><%=item.description %></em></p>
              <h4 class="text center"> $<%= item.price_in_dollars %> </h4>
            </div>
            <% if current_user.nil? || !current_user.admin?%>
              <div id='<%= "cart-button-#{item.id}" %>'>
                <%= button_to "Add to cart", cart_items_path(item_id: item), class: "btn btn-supply" %>
              </div>
            <% else %>
              <div>
                <%= link_to "Edit", edit_item_path(item), class: "btn btn-success", id: "btn-edit" %>
                <%= link_to "Delete", item_path(item), class:"btn btn-danger", id: "btn-delete", method: :delete %>
              </div>
            <% end %>
          <% end %>

        </div> <!-- col-sm-3 text-center item -->
      <% end %>
    </div>
  </div>
  <%= will_paginate class: "text-center" %>
</div>
