<h1>Menu Item Details: <%= @item.title %> </h1>


<p> <%= @item.description %> $<%= @item.price %></p>


<p><img src=<%=@item.image%> width=100px></p>

<p><%= link_to "Edit Item", edit_item_path(@item) %></p>
<%= link_to "Delete", item_path(@item), method: :delete %>