<h1>Menu Item Details: <%= @item.title %> </h1>
<p> <%= @item.description %> $<%= @item.price %></p>
<%= image_tag @item.image, size: "100" %>
<%= button_to "Add to net", cart_items_path(item_id: @item), class: "btn btn-success" %>
<p> Item Categories:
  <% @item.categories.each do |item| %>
    <%= item.name %>
  <% end %>
</p>

<%= link_to "Back", items_path %>
