<div class="container divider">
  <div class ="row">
    <h1 class="col-md-offset-2 col-md-4 text-center"> <%= @item.business.name if @item.business %></h1>
  </div>

  <div class="row">
    <div class="col-md-7">
      <%= image_tag @item.image,  class: "image-round center-block", size: "350" %>
    </div>
    <br>
    <div class ="col-md-5 well item">
      <h3 class="text-center values"><%= @item.title %></h3>
      <h4 class="featured" ><%= @item.description %></h4>
      <div class = "row">

        <div class="col-sm-offset-2 col-sm-5 row-align">
          <%= button_to "Add to cart", cart_items_path(item_id: @item), class: "btn btn-supply center-block" %>
        </div>
        <div class="col-sm-5">
          <h3 class="text-center">$<%= @item.price_in_dollars %><h3>
        </div>
      </div>
    </div>
    <p> Item Categories:
    <% @item.categories.uniq.each do |category| %>
      <%= link_to category.name, category_path(category) %>,
    <% end %>
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <h3>More items by this supplier</h3>
    <% @item.item_of_biz.last(4).each do |item| %>
      <div class="col-sm-3 other-business-items">
        <figcaption><%= link_to item.title, @item_show %></figcaption>
        <%= link_to image_tag(item.image, size: "100"), @item_show %>

        <%= button_to "Add to cart", cart_items_path(item_id: item), class: "btn btn-supply center-block" %>
      </div>
    <% end %>
  </div>
</div>
