<div class ="container">
  <h3>Admin Categories</h3>
  <ul>
    <% @categories.each do |category| %>
      <div class = "category_list">
        <li id = "category_<%=category.name%>">
          <strong><%=category.name %></strong>
          <%= link_to "Edit", edit_admin_category_path(category), class: "btn btn-supply", id: "btn-edit" %>
          <%= link_to "Delete", admin_category_path(category), method: :delete, class: "btn btn-danger", id: "btn-delete"%></li>
      <% end %>
    </div>
  </ul>
  <%= link_to "New Category", new_admin_category_path, class: "btn btn-success", id: "btn-edit"%>
</div>