<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center main-title"><%= image_tag "droply-icon.png", width: "135", height: "135", title: "Droply Icon" %>The Droply Story <%= image_tag "droply-icon.png", width: "135", height: "135", title: "Droply Icon" %></h1>
    </div>
  </div>
</div>
<div class="container-fluid">
</div>

<div class="container-fluid">
  <div class="row well">
    <div class="col-md-4 visible-md visible-lg">
      <h3><i class="glyphicon glyphicon-leaf"></i> Quality Supplies</h3>
      
      <h3><i class="glyphicon glyphicon-globe"></i> Global Delivery </h3>
      <h3><i class='glyphicon glyphicon-plane'></i>  Every Moment Matters </h3>
      <h3><i class="glyphicon glyphicon-heart"></i> Every Life is Worth Saving</h3>
    </div>
        <div class="col-md-8">
      <h2>Mission</h2>
      <p class="lead">Droply was created to help bring life saving supplies to the people that need them the most. We strive to create an easy, efficient, and cost effective way to get supplies on the ground when there is a disaster.</p>
      <p class="lead"><strong>Choose us when the moment chooses you.</strong></p>
    </div>
  </div> <!-- row well well-lg -->
</div> <!-- container-fluid -->

<div class="container-fluid">
  <h1 class = "text-center featured team">The Droply Team</h1>
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center">Austin Wood</h3>
      <%=image_tag('droply-icon.png', class: "img-responsive team-image center-block")%>
      <h4 class="text-center">CoFounder, CTO</h4>

    </div>
    <div class="col-md-4">
      <h3 class="text-center">Kit Pearson</h3>
      <%=image_tag('droply-icon.png', class: "img-responsive team-image center-block")%>
      <h4 class="text-center">CoFounder, CEO</h4>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Paul Grever</h3>
      <%=image_tag('droply-icon.png', class: "img-responsive team-image center-block")%>
      <h4 class="text-center">CoFounder, COO</h4>
    </div>
  </div>
</div>