<%= render 'partials/category_nav_bar' %>
<h1><%= @category.name%> Items</h1>
<div class="row">
  <% @category.items.each do |item| %>
    <div class="box col-sm-4 polaroid">
      <figcaption><%= link_to item.title, item_path(item) %></figcaption>
      <%= link_to image_tag(item.image, size: "100"), item %>
      <div id=<%= "net-button-#{item.id}" %>>
        <%= button_to "Add to net", cart_items_path(item_id: item), class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Menu", items_path %>