<%= render 'partials/category_nav_bar' %>
<div class="container">
  <div class="row">
    <h3 class="text-center"><%= @category.name %></h3>
    <% @category.items.each do |item| %>
      <div class="col-md-4 text-center item">
        <%= link_to image_tag(item.image, size: "200"), item %>
        <figcaption><%= link_to item.title, item_path(item) %></figcaption>
        <div id=<%= "net-button-#{item.id}" %>>
          <%= button_to "Add to cart", cart_items_path(item_id: item), class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
