<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Droply</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render partial: "partials/navigation" %>

    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{name} text-center" %>
      <% end %>
    </div>

      <%= yield %>

    <%= render partial: "partials/footer" %>
  </body>

</html>
